<div class="reclamar-container" *ngIf="reclamar && promo && !linkVisited">
  <p-button label="Canjear Promoción" styleClass="p-button-rounded p-button-help" (click)="claim(promo._id)"></p-button>
</div>

<div class="reclamar-container" *ngIf="!reclamar">
  <h1>Muchas gracias por participar!!</h1>
  <h1>Ya reclamaste tu promoción🔥🔥</h1>
</div>

<div class="reclamar-container" *ngIf="NotexistPromo">
  <h1>{{NotexistPromo}}</h1>
</div>


<div class="reclamar-container" *ngIf="linkVisited">
  <h1>Ya reclamaste la promocion una vez</h1>
</div>





